:root {
    --main-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1 {font-size: 2.2rem;}
p, a{font-size: 1.6rem;}
a {text-decoration: none;}

body{
    background-color: var(--main-color);
}

header{
    min-width: 320px;
}

.header_container{
    margin-top: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header_logo{
    width: 40px;
    height: 40px;
    background-image: url('../assets/wiki.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.header_title > p{
    font-size: 1.4rem;
}

main{
    padding: 10px;
    min-width: 320px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_search-area{
    border: 1px solid #dfe1e5;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    vertical-align: middle;
    align-items: center;
}

.textarea{
    padding-top: 5px;
    font-size: 1.6rem;
    flex: 1;
    border: none;
    height: 100%;
    outline: none;
    resize: none;
    line-height: 2.2rem;
    overflow-x: hidden;
    word-wrap: break-word;
}

.search-area_logo{
    display: inline-block;
    margin-left: 10px;
    height: 100%;
    width: 40px;
    background-color: #6485d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-area_lang{
    color: #54595D;
    font-size: 1.4rem;
}

.lang-section_container{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.lang-section_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lang-section_item > a{
    color: #3366CC;
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.lang-section_item > p{
    color: #54595D;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 100;
}

.lang-section button{
    display: block;
    padding: 5px 10px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #3366CC;
    border-radius: 5px;
    border: 1px solid #54595D;
    background-color: #F8F9FA;
}

footer{
    padding: 10px;
    min-width: 320px;
}

.footer_container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
