:root {
    --main-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1 {font-size: 2.2rem;}
p{color: #54595D;}
p, a{font-size: 1.4rem;}
a {text-decoration: none; color: #3366CC;}

body{
    background-color: var(--main-color);
    font-family: "Roboto", sans-serif;
}

header{
    min-width: 320px;
}

.header_container{
    margin-top: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header_logo{
    width: 40px;
    height: 40px;
    background-image: url('../assets/wiki.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.header_title > p{
    font-size: 1.4rem;
}

main{
    padding: 10px;
    min-width: 320px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_search-area{
    border: 1px solid #dfe1e5;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    vertical-align: middle;
    align-items: center;
}

.textarea{
    padding-top: 5px;
    font-size: 1.6rem;
    flex: 1;
    border: none;
    height: 100%;
    outline: none;
    resize: none;
    line-height: 2.2rem;
    overflow-x: hidden;
    word-wrap: break-word;
}

.search-area_logo{
    display: inline-block;
    margin-left: 10px;
    height: 100%;
    width: 40px;
    background-color: #6485d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-area_lang{
    color: #54595D;
    font-size: 1.4rem;
}

.lang-section_container{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.lang-section_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lang-section_item > a{
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.lang-section_item > p{
    font-size: 1.4rem;
    line-height: 1.4;
}

.lang-section button{
    display: block;
    padding: 5px 10px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #3366CC;
    border-radius: 5px;
    border: 1px solid #54595D;
    background-color: #F8F9FA;
}

footer{
    padding: 10px;
    min-width: 320px;
}

.footer_container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-start-logo{
    width: 45px;
    height: 45px;
    margin: 0px 0px 20px 0px;
    background-image: url('../assets/second_logo.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_projects{
    margin: 40px 0px;
    margin-bottom: 20px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 20px;
    text-align: left;

}

.projects_item img{
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.projects_item {
    display: flex;
}

.projects_item > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebar-text{
    padding: 15px 0px;
    background-color: rgb(251, 249, 249);
    border-radius: 3px;
    margin-bottom: 40px;
}

.sidebar-text_title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.sidebar-text_logo{
    width: 32px;
    height: 32px;
    background-image: url('../assets/wiki-logo.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar-text > p{
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.4;
}


.sidebar_stores{
    margin-top: 20px;
}