
.header_container .header_logo{
    position: absolute;
    display: none;
}

.lang-section{
    order: 1;
    padding: 0px;
}

.container_search-area{
    order: 2;
}

.lang-section_button{
    order: 3;
}
.lang-section_container{
    height: 320px;
    position: relative;
}

.lang-section_container .wiki-background{
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url('../assets/fondowiki.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar perfectamente */
    z-index: 1;
}

.lang-section_item{
    position: relative;
    width: 150px;
    margin-bottom: 15px;
}

/* Estilos comunes para todos los items de idioma */
.lang-section_item {
    position: absolute;
    width: 150px;
    text-align: center;
}


/* Posicionamiento individual de cada idioma alrededor del logo */
.item--1 { /* Español */
    top: 15%;
    left: 10%;
}

.item--2 { /* English */
    top: 15%;
    right: 10%;
}

.item--3 { /* 日本語 */
    left: 5%;
    top: 40%;
}

.item--4 { /* Русский */
    right: 5%;
    top: 40%;
}

.item--5 { /* Deutsch */
    left: 10%;
    bottom: 15%;
}

.item--6 { /* Français */
    right: 10%;
    bottom: 15%;
}

.item--7 { /* 中文 */
    left: 25%;
    bottom: 5%;
}

.item--8 { /* Italiano */
    right: 25%;
    bottom: 5%;
}

.item--9 { /* Português */
    left: 25%;
    top: 5%;
}

.item--10 { /* Polski */
    right: 25%;
    top: 5%;
}

.footer_projects{
    grid-template-columns: repeat(3, 1fr);
}